<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>89411234671-91t3eqorktoq4lcp59kb1iv99q08p3k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89411234671-91t3eqorktoq4lcp59kb1iv99q08p3k6</string>
	<key>API_KEY</key>
	<string>AIzaSyAKyjTQ3I64Z23KUlY_x_KH2as1V7B3G9c</string>
	<key>GCM_SENDER_ID</key>
	<string>89411234671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eunpa6.coffee</string>
	<key>PROJECT_ID</key>
	<string>coffee-2c90b</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-2c90b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89411234671:ios:4f88186c8a249fe6</string>
	<key>DATABASE_URL</key>
	<string>https://coffee-2c90b.firebaseio.com</string>
</dict>
</plist>